@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Fira Code', monospace;
}

button {
	font-family: inherit;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 32px;
}

#container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	height: 64px;
}

.header,
.footer {
	background-color: black;
	color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	height: calc(100% - 128px);
	width: 384px;
	margin: 16px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.calculator {
	width: 100%;
}

.display {
	background-color: black;
	height: 128px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	color: white;
}

.history {
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 16px;
	font-size: 20px;
}

.current {
	height: 96px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	margin: 0 16px;
}

.buttons {
	height: calc(100% - 128px);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.btn {
	width: calc(384px / 4);
	height: 96px;
	background-color: #cccccc;
	color: black;
	outline: 1px solid black;
	outline-offset: -1px;
	transition: background-color 0.2s;
}

.btn:hover {
	background-color: #ccccccaa;
}

.btn[data-input='0'] {
	width: calc(96px * 2);
}

.function {
	background-color: #888888;
}

.function:hover {
	background-color: #888888aa;
}

.operator,
.evaluate {
	background-color: #ff8800;
}

.operator:hover,
.evaluate:hover {
	background-color: #ff8800aa;
}

.operand.active {
	background-color: #ccccccaa;
}

.operator.active,
.evaluate.active {
	background-color: #ff8800aa;
}

.function.active {
	background-color: #888888aa;
}

.footer {
	height: 64px;
}
